p {
  font-family: roboto, arial;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  margin-right: 24px;
  background-color: white;
  padding-top: 136px;
  padding-left: 100px;
  padding-bottom: 300px;
  font-family: roboto, arial;
}
div {
  font-family: roboto, arial;
}